<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="login.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./img/remove.png">
  <title>Login</title>
  <link rel="stylesheet" href="https://kit.fontawesome.com/bfd8f398c0.css" crossorigin="anonymous">
</head>

<body>


  <header>
    <div class="logo">
        <a href="#"><img src="./img/remove.png" alt="Logo Mama Coco"></a>
        
    </div>
    <nav class="navbar">
        <ul>
            <li class="boton"><a href="index.html">Inicio</a></li>
            <li class="boton"><a href="#">Recetas</a></li>
            <li class="boton"><a href="manual.html">Ayuda</a></li>
        </ul>
    </nav>
</header>

<div class="separador"></div>

<section class="recetas">
  <h1>Iniciar Sesion</h1>
  <div class="container">
    <form id="loginForm">
      <hr>
      <br>
      <div class="input-container">
        <label for="username">Usuario</label>
        <div class="input-wrapper">
          <i class="fa-solid fa-user"></i>
          <input type="text" id="username" placeholder="Usuario" name="username" required>
        </div>
      </div>
      <div class="input-container">
        <label for="password">Contraseña</label>
        <div class="input-wrapper">
          <i class="fa-solid fa-lock"></i>
          <input type="password" id="password" placeholder="Contraseña" name="password" required>
        </div>
      </div>

      <div class="box-visible">
        <label for="visible">Mostrar Contraseña <input type="checkbox" id="visible"></label>  
      </div>
      <div class="button-container">
        <button type="submit" id="submit" class="boton01">Iniciar Sesion</button>
        <button type="button" onclick="window.location.href='registrar.html'" class="boton01">Registrarse</button>
      </div>
    </form>
  </div>
</section>


<div class="separador"></div>

<footer class="infocontacto">
    <div class="contacto">
        <div class="logofooter">
            <a href="#"><img src="./img/remove.png" alt="Logo Mama Coco"></a>
        </div>
        <div class="informacion">
            <ul>
                <li><i class="fa-solid fa-phone"></i> +54 9 223 66336250</li>
                <li><i class="fa-solid fa-envelope"></i> mamacoco@gmail.com</li>
                <li><i class="fa-solid fa-location-dot"></i> Dirección: Calle Falsa 123, Buenos Aires</li>
            </ul>
        </div>
    </div>
</footer>
<script src="https://kit.fontawesome.com/bfd8f398c0.js" crossorigin="anonymous"></script>

<script src="https://kit.fontawesome.com/bfd8f398c0.js" crossorigin="anonymous"></script>
</body>
</html>